*.pyc

*.opensdf
*.sdf
*.user
*.exe
*.VC.opendb
*.psess
*.pdb
*.deps
*.VC.db
*.iobj
*.ipdb
*.pyd
*_wrap.cpp
*.o
*.cxx
*.so


.vs/
__pycache__/
output/
x64/
Debug/
Release/external/
gmake/
lib/
external/
Backup/
data/intermediate/
DeepMimicCore/objs/
DeepMimicCore/third

DeepMimicCore/DeepMimicCore.py
